<h1>This is the index page</h1>
<p>go here to create a new article, bitch</p>
<%= link_to "Create a new article from the index", new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to "Edit this", edit_article_path(article) %></td>
    <td><%= link_to "Show this", article_path(article) %></td>
    <td><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>  
</table>

<%= link_to "back to home page", root_path %>