<h1 align = "center">INDEX</h1>
<p align = "center">go here to create a new article, bitch</p>
<div class = "col-xs-8 col-xs-offset-2">
  <%= link_to "Create a new article from the index", new_article_path, class: "btn btn-primary btn-sm" %>
</div>
<% @articles.each do |article| %>
<div class = "row">
  <div class = "col-xs-8 col-xs-offset-2">
    <div class = "index well">
      <div class = "article-title">
        <%= link_to article.title, article_path(article) %>
      </div>
      <div class = "article-body">
        <%= truncate(article.description, length: 100) %>
        <div class = "article-meta-details">
          <small>
            Created by : <%= article.user.username if article.user %>
            <%= time_ago_in_words(article.created_at) %>
            <%= time_ago_in_words(article.updated_at) %>
          </small>
        </div>
      </div>
      <div class = "article-actions">
        <%= link_to "Back to Index", articles_path, class: "btn btn-primary btn-sm" %>
        <%= link_to "Edit This", edit_article_path(article), class: "btn btn-primary btn-sm" %>
        <%= link_to "Delete This", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this?" }, class: "btn btn-danger btn-sm" %>
      </div>

    </div>
  </div>
</div>
<% end %>  

<div class = "row">
  <div class = "col-xs-8 col-xs-offset-2">
    <%= link_to "Home", root_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>
